.text-primary {
    color: $u-primary
}.text-primary-dark {
    color: $u-primary-dark
}.text-primary-disabled {
    color: $u-primary-disabled
}.text-primary-light {
    color: $u-primary-light
}

.text-warning {
    color: $u-warning
}.text-warning-dark {
    color: $u-warning-dark
}.text-warning-disabled {
    color: $u-warning-disabled
}.text-warning-light {
    color: $u-warning-light
}

.text-success {
    color: $u-success
}.text-success-dark {
    color: $u-success-dark
}.text-success-disabled {
    color: $u-success-disabled
}.text-success-light {
    color: $u-success-light
}

.text-error {
    color: $u-error
}.text-error-dark {
    color: $u-error-dark
}.text-error-disabled {
    color: $u-error-disabled
}.text-error-light {
    color: $u-error-light
}

.text-info {
    color: $u-info
}.text-info-dark {
    color: $u-info-dark
}.text-info-disabled {
    color: $u-info-disabled
}.text-info-light {
    color: $u-info-light
}
